.group93 {
  /* Group 93 */

  position: absolute;
  width: 1779.6px;
  height: 3097.94px;
  left: -162px;
  top: 1.95px;
}
.vector20 {
  /* Vector 20 */

  position: absolute;
  width: 1059px;
  height: 642.76px;
  left: 464.1px;
  top: 61px;

  background: linear-gradient(
    297.41deg,
    rgba(116, 32, 182, 0.6) 11.91%,
    rgba(112, 27, 191, 0.36) 30.52%,
    rgba(60, 50, 139, 0) 50.56%
  );
}
.vector21 {
  /* Vector 21 */

  position: absolute;
  left: 9.59%;
  right: 78.33%;
  top: 13.92%;
  bottom: 84.02%;

  background: radial-gradient(
    69.8% 158.84% at 68.45% 21.56%,
    rgba(179, 100, 241, 0.696) 0%,
    rgba(155, 80, 215, 0.678652) 8.33%,
    rgba(137, 72, 188, 0.68166) 17.19%,
    rgba(123, 51, 180, 0.682764) 28.12%,
    rgba(111, 31, 173, 0.683814) 43.56%,
    rgba(96, 8, 165, 0.685023) 63.65%,
    rgba(50, 37, 122, 0.8) 100%
  );
  transform: matrix(-0.77, -0.62, 0.65, -0.78, 0, 0);
}
.vector22 {
  /* Vector 22 */

  position: absolute;
  left: 34.1%;
  right: 38.18%;
  top: 0.04%;
  bottom: 96.42%;

  background: radial-gradient(
    69.8% 158.84% at 68.45% 21.56%,
    rgba(193, 122, 250, 0.522) 0%,
    rgba(122, 150, 250, 0.522) 0.01%,
    rgba(100, 113, 223, 0.508989) 8.33%,
    rgba(72, 97, 188, 0.511245) 17.19%,
    rgba(51, 79, 180, 0.512073) 28.12%,
    rgba(44, 58, 186, 0.512861) 43.56%,
    rgba(8, 61, 165, 0.513767) 63.65%,
    rgba(69, 46, 194, 0.6) 100%
  );
  transform: matrix(0.99, 0.14, -0.14, 0.99, 0, 0);
}
.vector23 {
  /* Vector 23 */

  position: absolute;
  left: 79.03%;
  right: -4.84%;
  top: 9.12%;
  bottom: 85.49%;

  background: radial-gradient(
    69.8% 158.84% at 68.45% 21.56%,
    rgba(193, 122, 250, 0.696) 0%,
    rgba(122, 150, 250, 0.696) 0.01%,
    rgba(100, 113, 223, 0.678652) 8.33%,
    rgba(72, 97, 188, 0.68166) 17.19%,
    rgba(51, 79, 180, 0.682764) 28.12%,
    rgba(44, 58, 186, 0.683814) 43.56%,
    rgba(8, 61, 165, 0.685023) 63.65%,
    rgba(69, 46, 194, 0.8) 100%
  );
  transform: matrix(0.54, -0.83, 0.86, 0.54, 0, 0);
}
.vector24 {
  /* Vector 24 */

  position: absolute;
  left: -11.25%;
  right: 85.05%;
  top: 25.25%;
  bottom: 67.46%;

  background: radial-gradient(
    69.8% 158.84% at 68.45% 21.56%,
    rgba(193, 122, 250, 0.696) 0%,
    rgba(122, 150, 250, 0.696) 0.01%,
    rgba(100, 113, 223, 0.678652) 8.33%,
    rgba(72, 97, 188, 0.68166) 17.19%,
    rgba(51, 79, 180, 0.682764) 28.12%,
    rgba(44, 58, 186, 0.683814) 43.56%,
    rgba(8, 61, 165, 0.685023) 63.65%,
    rgba(69, 46, 194, 0.8) 100%
  );
  transform: matrix(0.97, -0.23, 0.24, 0.97, 0, 0);
}
.vector25 {
  /* Vector 25 */

  position: absolute;
  left: 112.33%;
  right: -54.51%;
  top: 57.4%;
  bottom: 34.42%;

  background: radial-gradient(
    69.8% 158.84% at 68.45% 21.56%,
    rgba(179, 100, 241, 0.348) 0%,
    rgba(155, 80, 215, 0.339326) 8.33%,
    rgba(137, 72, 188, 0.34083) 17.19%,
    rgba(123, 51, 180, 0.341382) 28.12%,
    rgba(111, 31, 173, 0.341907) 43.56%,
    rgba(96, 8, 165, 0.342511) 63.65%,
    rgba(50, 37, 122, 0.4) 100%
  );
  transform: matrix(-0.9, 0.43, -0.45, -0.9, 0, 0);
}
