.vector23 {
  /* Vector 23 */

  position: absolute;
  left: -4.39%;
  right: 85.61%;
  top: -7.23%;
  bottom: 86.2%;

  background: radial-gradient(
    69.8% 158.84% at 68.45% 21.56%,
    rgba(179, 100, 241, 0.435) 0%,
    rgba(155, 80, 215, 0.424157) 8.33%,
    rgba(137, 72, 188, 0.426038) 17.19%,
    rgba(123, 51, 180, 0.426727) 28.12%,
    rgba(111, 31, 173, 0.427384) 43.56%,
    rgba(96, 8, 165, 0.428139) 63.65%,
    rgba(50, 37, 122, 0.5) 100%
  );
  transform: rotate(3.92deg);
}
