.vector21 {
  /* Vector 21 */

  position: absolute;
  left: 0.92%;
  right: 68.83%;
  top: 117%;
  bottom: -49.93%;

  background: radial-gradient(
    69.8% 158.84% at 68.45% 21.56%,
    rgba(179, 100, 241, 0.348) 0%,
    rgba(155, 80, 215, 0.339326) 8.33%,
    rgba(137, 72, 188, 0.34083) 17.19%,
    rgba(123, 51, 180, 0.341382) 28.12%,
    rgba(111, 31, 173, 0.341907) 43.56%,
    rgba(96, 8, 165, 0.342511) 63.65%,
    rgba(50, 37, 122, 0.4) 100%
  );
  transform: rotate(-140.73deg);
}
